@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato/Lato-Regular.ttf") format('truetype');
}
@font-face {
	font-family: "Noto";
	src: url("../fonts/Noto_Serif/NotoSerif-Regular.ttf") format('truetype');
}

/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap'); */

body{
	font-family: 'Lato', sans-serif;
	font-style: normal;
	overflow-x: hidden;
}
img{
	width: 100%;
	height: 100%;
}
.container{
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}
.header__hat{
	margin-bottom: 31px;
}
.header__inner{
	display: flex;
	justify-content: space-between;
}
.header__logo{
	max-width: 206px;
	max-height: 194px;
}
.header__logo>img{
	width: 100%;
	height: 100%;
}
.header__contacts{
	display: flex;
	justify-content: space-between;
	width: calc(50%);
}
.header__contacts-first{
	max-width: 240px;
}
.header__contacts-second{
	margin-left: 87px;
	max-width: 290px;
	flex-shrink: 0;
}
.header__burger{
	display: none;
}
.header__excort{
	margin-top: 15px;
}
.header__excort>a{
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: rgba(0, 0, 0, 0.34);
}
.header__mail, .header__phone{
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 24px;	
	color: #007632;
}
.header__mail{
	line-height: 92.4%;
	margin-top: 43px;
}
.header__phone{
	line-height: 33px;
	margin-top: 12px;
}
.header__schedule{
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.34);
	margin-top: 7px;
}
.header__text{
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.72);
	margin-top: 24px;
}
.header__button{
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	color: #7D4E24;
	margin-top: 23px;
	padding: 10px 35px;
	border: 1px solid #7D4E24;
	border-radius: 50px;
	background-color: #FFFFFF;
}
.header__button:hover{
	cursor: pointer;
	color: #FFFFFF;
	background: #7D4E24;
	box-shadow: 0px 4px 10px rgba(132, 99, 70, 0.38);
}
.header__nav{
	background-color: #673800;
	padding: 23px 0;
}
.header__list{
	display: flex;
	gap: 35px;
}
.header__link{
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}
.header__link>img{
	max-width: 20px;
	padding-right: 10px;
	vertical-align: middle;
}
.header__burger-menu {
	position: fixed;
	width: 85%;
	height: 100vh;
	top: 0;
	right: 0;
	background-color: #673800;
	z-index: 10;
	padding: 90px 0 0 39px;
	transform: translateX(100%);
	transition: .2s all linear;
	border-radius: 20px 0 0 20px;
}
.overflow__stop{
	overflow-y: hidden;
}
.header__nav_active{
	transform: translateX(0);
	overflow-y: hidden;
}
.header__burger-list{
	max-width: 100%;
	margin-right: 20px;
}
.header__burger-item {
	max-width: 401px;
	margin-right: 0;
	margin-bottom: 15px;
	list-style-type: none;
}
.header__burger-link::after{
	content: '';
	display: block;
	height: .5px;
	background: #FFFFFF;
	min-width: 100%;
}

.header__item1:last-child {
	margin-bottom: 0;
}

.header__burger-link {
	font-weight: 700;
	font-size: 20px;
	line-height: 35px;
	color: #FFFFFF;
	text-decoration: none;
}
.burger-link__ul{
	display: none;
	z-index: 10;
	transform: translateY(-100%);
	transition: .2s all linear;
	
}
.burger-link__ul.link_show{
	display: block;
	transform: translateY(0);
	overflow-y: hidden;
}
.burger-link__ul>li{
	list-style-type: none;
	padding: 15px 0;
}
.burger-link__ul>li>a{
	text-decoration: none;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #E4E4E4;
}
.header__nav-close {
	width:50px;
	height: 35px;
	position: absolute;
	top: 23px;
	right: 20px;
	z-index: 11;
	background-image: url('../img/burger-close.svg');
	background-size: 13px;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #7D4E24;
	box-shadow: 0px 4px 10px rgba(132, 99, 70, 0.38);
	border-radius: 5px;
}
.header__down-block{
	display: flex;
	width: 100%;
	justify-content: left;
	align-items: flex-end;
	margin-top: 85px;
}
.header__nav-img{
	width: 89px;
	height: 84px;
	margin-right: 16px;
}
.header__nav-txt{
	max-width: 260px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #E6E7E9;
}
.header__item.active{
	text-decoration: underline;
}
.header .header__nav-list {
	display: none;
	position: absolute;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px rgba(170, 170, 170, 0.7);
	z-index: 10;
	list-style: none;
	padding: 20px 20px 20px 30px;
	margin-top: 22px;
	max-width: 280px;
}
.header__nav-list li {
padding: 1rem;
}
.header__nav-list li:hover {
text-decoration: underline;
}
.header__nav-list li a {
text-decoration: none;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #673800;
}
.header__nav-list.show{
display: block;
}
.history{
	background-color: rgba(209, 199, 180, 0.84);
}
.history__inner{
	display: flex;
	justify-content: space-between;
}
.history__left-side{
	max-width: 450px;
	padding: 90px 0 146px 0;
}
.history__title{
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 48px;
	line-height: 55px;
	background: linear-gradient(90.47deg, #673800 0.3%, #673800 46.05%, #673800 94.46%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
}
.history__desc{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #2C1909;
	margin-top: 25px;
}
.history__btn{
	margin-top: 50px;
	padding: 15px 20px;
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	color: #FFFFFF;
	border-radius: 50px;
	border: 1px solid #007632;
	background: #007632;
	box-shadow: 0px 4px 10px rgba(38, 91, 61, 0.34);
}
.history__btn:hover{
	cursor: pointer;
}
.history__right-side{
	margin-top: 50px;
	margin-bottom: 50px;
}
.history__img{
	max-width: 465px;
	height: auto;
}
.about__inner{
	margin: 100px 0;
}
.about__up-content{
	display: flex;
	justify-content: space-between;
	max-width: 100%;
}
.about__left-side{
	width: 225px;
}
.about__img{
	max-width: 180px;
	max-height: 225px;
}
.about__name{
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: #007632;
}
.about__center{
	max-width: 380px;
}
.about__title{
	font-family: 'Noto', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;	
	color: #007632;
	margin-bottom: 25px;
}
.about__text{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #2C1909;
}
.about__right-side{
	width: 380px;
}
.about__video{
	width: 380px;
	height: 250px;
	background: url("../img/video.png");
	background-repeat: no-repeat;
	cursor: pointer;
}
.play__circle{
	max-width: 100px;
	max-height: 100px;
	position: relative;
	left: 50%;
	top: 0;
	transform: translate(-50%, 70%);	
}
.about__down-content{
	display: flex;
	justify-content: space-between;
	max-width: 880px;
	margin-left: auto;
	margin-right: 0;
	margin-top: 50px;
}
.about__foot-item{
	max-width: 230px;
}
.about__foot-title{
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	color: #007632;
}
.about__foot-desc{
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: #007632;
}
.services{
	background: #E6E7E9;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 20px;
}
.services__inner{
	margin: 100px 0;
}
.services__head{
	display: flex;
	justify-content: space-between;
}
.services__title{
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 44px;
	color: #007632;
}
.services__desc{
	max-width: 880px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #2C1909;
}
.services__slider {
	margin-top: 41px;
	vertical-align: middle;
	position: relative;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	/* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
	user-select: none;
	/* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
	touch-action: pan-y;
}
	
	/* Если где-то внутри слайдера будут изображения,
	то нужно задать им pointer-events: none,
	чтобы они не перетаскивались мышью */
	
.services__slider img {
pointer-events: none;
}

.services__slider-list {
width: 100%;
height: 425px;
overflow: hidden;
}

.services__slider-list.grab {
cursor: grab;
}

.services__slider-list.grabbing{
cursor: grabbing;
}

.services__slider-track {
display: flex;
}

.services__slide {
width: 372px;
height: 425px;
padding-right: 20px;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
box-sizing: content-box;
}
.services__track{
	display: flex;
}
.services__arrows{
	display: none;
	margin: 0 auto;
	width: fit-content;
	margin-top: 50px;
}
.services__arrow-prev, .services__arrow-next{
	width: 78px;
	height: 42px;
	
	background-color: #E6E7E9;
	background-position: center center;
	background-size: 130%;
}
.services__arrow-prev{
	background-image: url("../img/services_arrow-left.svg");
}
.services__arrow-next{
	background-image: url("../img/services_arrow-right.svg");
	margin-left: 20px;
}
.services__center{
	display: inline-block;
}
.services__card{
	width: 372px;
	height: 425px;
	flex-shrink: 0;
	box-sizing: border-box;
	background-position: right center;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 5px #E4E4E4;
	border-radius: 30px;
	padding: 20px 100px 30px 25px;
}
.services__card.first{
	background-image: url("../img/card_first_bg.png");
	background-size: contain;
}
.services__card.second{
	background-image: url("../img/card_second_bg.png");
	background-size: contain;
}
.services__card.last{
	background-image: url("../img/card_last_bg.png");
	background-size: contain;
}
.cards__title{
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 40px;
	color: #673800;
}
.cards__desc{
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #2C1909;
	max-width: 255px;
	padding-top: 3px;
}
.cards__price{
	margin-top: 15px;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	color: #2C1909;
}
.cards__price>span{
	color: #007632;
}
.cards__btn{
	margin-top: 15px;
	padding: 6px 20px;
	background: #FFFFFF;
	border: 1px solid #7D4E24;
	border-radius: 50px;

	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #7D4E24;
}
.cards__btn:hover{
	cursor: pointer;
	color: #FFFFFF;
	background: #7D4E24;
	box-shadow: 0px 4px 10px rgba(132, 99, 70, 0.38);
}
.why{
	background-image: url("../img/why_bg.png");
	background-repeat: no-repeat;
	background-position: right center;
}
.why__inner{
	padding: 100px 0;	
}
.why__title{
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	color: #007632;
}
.why__desc{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #2C1909;
	max-width: 881px;
	margin-top: 25px;
}
.stages{
	background-color: rgba(209, 199, 180, 0.84);
}
.stages__inner{
	padding: 100px 0;
}
.stages__title{
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	color: #007632;
}
.stages__items{
	margin-top: 55px;
}
.stages__item{
	padding-bottom: 25px;
	display: flex;
	justify-content: space-between;
}
.stages__item:last-child{
	padding-bottom: 0;
}
.stages__left-block{
	width: 330px;
	white-space: nowrap;
	flex-shrink: 0;
}
.stages__num{
	display: inline-block;
	background: #673800;
	width: 41px;
	height: 42px;
	text-align: center;
	border-radius: 50px;
	margin-right: 45px;
	vertical-align: top;

	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 40px;
	color: #FFFFFF;
}
.stages__text{
	display: inline-block;
	max-width: 242px;
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 40px;
	color: #7D4E24;
}

.stages__item:last-child>.stages__desc{
	width: 777px;
}
.stages__desc{
	max-width: 778px;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #2C1909;
}
.expamples{
	background-color: rgba(209, 199, 180, 0.84);
}
.examples__inner{
	padding: 100px 0;
}
.examples__title{
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	color: #007632;
}
.examples__slider{
	width: fit-content;
	margin: 70px auto 20px auto;
}
.slider_prev-btn, .slider_next-btn{
	background-color: #ffffff;	
	background-repeat: no-repeat;
	background-size: 120% 120%;
	background-position: center center;
	width: 60px;
	height: 60px;
}
.slider_prev-btn{
	background-image: url("../img/btn_slider_left.svg");
}
.slider_next-btn{
	background-image: url("../img/btn_slider_right.svg");
}
.slider_next-btn:hover{
	background-image: url("../img/btn_slider_right_hover.svg");
}
.slider_prev-btn:hover{
	background-image: url("../img/btn_slider_left-hover.svg");
}
.slider {
	vertical-align: middle;
	margin-left: 55px;
	margin-right: 55px;
	position: relative;
	display: inline-block;
	width: 730px;
	/* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
	user-select: none;
	/* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
	touch-action: pan-y;
}
/* Если где-то внутри слайдера будут изображения,
то нужно задать им pointer-events: none,
чтобы они не перетаскивались мышью */
.slider img {
	pointer-events: none;
}
.slider-list {
	width: 730px;
	height: 493px;
	overflow: hidden;
}
.slider-list.grab {
	cursor: grab;
}
.slider-list.grabbing{
	cursor: grabbing;
}
.slider-track {
	display: flex;
}
.slide {
	width: 730px;
	height: 493px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: content-box;
}
.slide img {
	width: 100%;
	height: 100%;
}
.slider-arrows {
	margin-top: 50px;
	text-align: center;
}  
.next,
.prev {
	display: inline-block;
	vertical-align: middle;
	padding: 0;
	border: none;
	cursor: pointer;
}
.next.disabled,
.prev.disabled {
	opacity: .25;
	pointer-events: none;
}
.examples__text{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	color: #2C1909;
	margin: 40px auto;
	max-width: 188px;
}
.examples__btn{
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);

	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	color: #7D4E24;
	background-color: #FFFFFF;

	border: 1px solid #7D4E24;
	box-shadow: 0px 4px 10px rgba(132, 99, 70, 0.38);
	border-radius: 50px;
	padding: 10px 35px;
}
.examples__btn:hover{
	color: #FFFFFF;
	background: #7D4E24;
	cursor: pointer;
}
.beginning{
	background-color: #E6E7E9;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 20px;

	background-image: url('../img/beginning_bg.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 50% 100%;
}
.beginning__inner{
	padding: 100px 0;
}
.beginning__box{
	background-color: #FFFFFF;
	border-radius: 50px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	max-width: 1180px;
	overflow: hidden;
	
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
}
.beginning__left-side{
	padding: 0 80px 0 100px;
	width: 50%;
	box-sizing: border-box;
	flex-shrink: 0;
}
.beginning__right-side{
	width: 578px;	
	max-height: 299px;
	box-sizing: border-box;	
}
.beginning__right-side>img{	
	object-fit: contain;
}
.beginning__title{
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 44px;
	color: #007632;
	margin-bottom: 25px;
}
.beginning__text{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #2C1909;
	max-width: 410px;
	margin-bottom: 32px;
}
.beginning__text>span{
	font-weight: 700;
	color: #007632;
}
.beginning_btn{
	border: 1px solid #007632;
	box-shadow: 0px 4px 10px rgba(195, 218, 204, 0.39);
	border-radius: 50px;
	padding: 10px 35px;
	width: fit-content;

	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	color: #007632;
}
.beginning_btn:hover{
	cursor: pointer;
	color: #FFFFFF;
	background: #007632;
}
.reviews{
	overflow-x: hidden;
}
.reviews>.container{
	max-width: 1310px;
	margin: 0;

	position: relative;
	left: 50%;
	transform: translate(-46%, 0);
}
.reviews__inner{
	padding: 100px 0 80px 0;
}
.reviews__left-box{
	display: inline-block;
	max-width: 380px;
	vertical-align: top;
	margin-right: 20px;
}
.reviews__title{
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 44px;
	color: #007632;
	margin-bottom: 25px;
}
.reviews__desc{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #2C1909;
}
.reviews__right-box{
	display: inline-block;
	vertical-align: top;
	max-width: 900px;
}
.reviews__card{
	border-radius: 30px;
	border: 1px solid black;
	padding: 20px;
	height: 84%;
	position: relative;
}
.reviews__comment{
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
	color: #2C1909;
}
.reviews__avatar{
	position: absolute;
	bottom: 20px;
}
.reviews__photo{
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.reviews__name{
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: #007632;
	display: inline-block;
	vertical-align: middle;
}
.reviews__arrow{
	width: 80px;
	height: 42px;
	background-color: #FFFFFF;
}
.reviews__center{
	display: inline-block;
}
.reviews__arrow:last-child{
	margin-left: 20px;
}
.reviews__slider {
	position: relative;
	max-width: 900px;
	margin: 0 auto;
	/* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
	user-select: none;
	/* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
	touch-action: pan-y;
}  
  /* Если где-то внутри слайдера будут изображения,
  то нужно задать им pointer-events: none,
  чтобы они не перетаскивались мышью */
  
.reviews__slider img {
	pointer-events: none;
}
  
.reviews__slider-list {
	width: 900px;
	height: 270px;
	overflow: hidden;
}

.reviews__slider-list.grab {
	cursor: grab;
}

.reviews__slider-list.grabbing{
	cursor: grabbing;
}

.reviews__slider-track {
	display: flex;
}

.reviews__slide {
	width: 280px;
	height: 270px;
	/* Чтобы слайды не сжимались */
	flex-shrink: 0;
	padding-right: 10px;
	padding-left: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: content-box;
}

.reviews__slide img {
	width: 100%;
	height: 100%;
}

.reviews__arrows {
	margin-top: 27px;
	margin-bottom: 20px;
	text-align: center;
}
.useful{
	background-color: rgba(209, 199, 180, 0.84);
	
	background-image: url('../img/useful_bg.png');
	background-repeat: no-repeat;
	background-position: right center;
}
.useful__inner{
	padding: 100px 0 90px 0;
}
.useful__head{
	display: flex;
	justify-content: space-between;
	margin-bottom: 35px;
}
.useful__title{
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 44px;
	color: #007632;
}
.useful__text{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #007632;
	text-decoration: none;
}
.useful__text:hover{
	text-decoration: underline;
}
.useful__cards{
	display: flex;
}
.useful__slider {
	vertical-align: middle;
	position: relative;
	display: inline-block;
	width: 100%;
	/* Чтобы во время перетаскивания слайда ничего не выделить внутри него */
	user-select: none;
	/* Чтобы запретить скролл страницы, если мы начали двигать слайдер по оси X */
	touch-action: pan-y;
}
	
/* Если где-то внутри слайдера будут изображения,
то нужно задать им pointer-events: none,
чтобы они не перетаскивались мышью */

.useful__slider img {
	pointer-events: none;
}	
.useful__list {
	width: 100%;
	height: 323px;
	overflow: hidden;
}

.useful__list.grab {
	cursor: grab;
}
	
.useful__list.grabbing{
	cursor: grabbing;
}	
	
.useful__card {
	width: 380px;
	height: 323px;
	/* Чтобы слайды не сжимались */
	flex-shrink: 0;
	display: flex;
	align-items: top;
	justify-content: center;
	box-sizing: content-box;
}

.slide img {
	width: 100%;
	height: 100%;
}
	
.slider-arrows {
	margin-top: 50px;
	text-align: center;
}
.useful__link{
	text-decoration: none;
	padding: 0 10px;
}
.useful__pic{
	max-width: 380px;
	max-height: 200px;
}
.useful__desc{
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 35px;
	color: #673800;

	max-width: 380px;
	margin: 20px 0 15px 0;
}
.useful__date{
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.34);
}
.footer{
	background-color: #472906;
}
.footer__inner{
	padding: 50px 0 68px 0;
	display: flex;
	justify-content: space-between;
}
.footer__logo{
	max-width: 150p;
	height: 142px;
}
.footer__title{
	font-family: 'Noto', serif;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	color: #FFFFFF;
	padding-bottom: 20px;
}
.footer__links{
	list-style-type: none;
	display: table;
}
.footer__links>li{	
	padding-bottom: 10px;
}
.footer__link{
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: rgba(228, 228, 228, 0.8);
	text-decoration: none;
}
.footer__link>img{
	padding-top: 10px;
	padding-right: 19px;
	max-width: 25px;
	max-height: 23px;
}
.col-1{
	max-width: 160px;
}
.col-2{
	max-width: 280px;
}
.col-3{
	max-width: 240px;
}
.policy{
	background-color: #131313;
}
.policy__inner{
	padding: 19px 0;
	display: flex;
	justify-content: space-between;
}
.policy__text{
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.025em;
	color: rgba(255, 255, 255, 0.8);
	display: inline-block;
	padding-right: 28px;
}
.overlay{position:fixed;display:none;justify-content:center;align-items:center;width:100%;height:100%;top:0;background-color:rgba(0,0,0,.8)}
.overlay .video{width:720px;height:480px;position:relative}
.overlay .close{color:#fff;font-size:36px;position:absolute;top:-27px;right:-25px;cursor:pointer}

.text-one, .text-two, .text-three{
	vertical-align: top;
}
@media (max-width: 1024px) {
	.header__logo{
		max-width: 188px;
		max-height: 194px;
	}
	.header__contacts{
		width: auto;
	}
	.about__inner{
		margin-bottom: 76px;
	}
	.about__img{
		max-width: 176px;
		max-height: 220px;
	}
	.about__center {
		max-width: 372px;
	}
	.about__video{
		max-width: 372px;
		max-height: 245px;
		padding-right: 10px;
	}
	.play__circle{
		max-width: 98px;
		max-height: 98px;
	}
	.about__down-content{
		margin-top: 40px;
	}
	.about__foot-item{
		max-width: 176px;
	}
	.services__inner{
		margin: 100px 0 50px 0;
	}
	.services__title{
		flex-shrink: 0;
	}
	.services__desc{
		max-width: 680px;
	}
	.services__arrows{
		display: block;
	}
	.why__inner{
		padding: 100px 0 68px 0;
	}
	.stages__num{
		margin-right: 20px;
	}
	.stages__desc{
		max-width: 622px;
	}
	.slider{
		margin: 0 46px;
		width: 678px;
		height: 458px;
	}
	.slider-list{
		width: 678px;
		height: 458px;
	}
	.slide{
		width: 678px;
		height: 458px;
	}
	.beginning__left-side{
		padding: 0 58px 0 25px;
		width: 52%;
	}
	.beginning__right-side{
		width: 48%;
	}
	.reviews__slider{
		width: 576px;
	}
	.reviews__slider-list{
		width: 576px;
	}
	.reviews__slide{
		padding: 0 4px;
	}
	.reviews>.container{
		width: 100%;
		left: 0;
		transform: translate(0, 0);
	}
	.col-2{
		max-width: 198px;
	}
	.col-3{
		max-width: 380px;
	}
	.text-two{
		max-width: 176px;
	}
}
@media (max-width: 768px) {
	.header__logo{
		max-width: 168px;
		max-height: 177px;
		margin-right: 20px;
	}
	.header__contacts-second{
		margin-left: 30px;
	}
	.header__excort>a{
		font-size: 14px;
		line-height: 17px;
	}
	.header__mail{
		font-size: 20px;
	}
	.header__phone{
		font-size: 20px;
		line-height: 27px;
		margin-top: 10px;
	}
	.header__text{
		font-size: 16px;
		line-height: 19px;
	}
	.header__button{
		font-size: 16px;
		line-height: 22px;
		margin-top: 32px;
	}
	.header__schedule{
		margin-top: 12px;
	}
	.history__inner{
		padding: 69px 0 114px 0;
	}
	.history__left-side{
		padding: 0;
		max-width: 354px;
	}
	.history__title{
		font-size: 40px;
	}
	.history__btn{
		font-size: 18px;
		line-height: 25px;
		margin-top: 26px;
	}
	.history__right-side{
		margin: 0;
	}
	.history__img{
		max-width: 354px;
	}
	.about__inner{
		margin: 100px 0;
		position: relative;
	}
	.about__up-content{
		flex-wrap: wrap;
		row-gap: 60px;
		width: fit-content;
	}
	.about__left-side{
		width: 176px;
	}
	.about__center{
		max-width: 532px;
	}
	.about__right{
		max-width: 354px;
		max-height: 235px;
	}
	.about__video{
		max-width: 354px;
		max-height: 235px;
		background-size: contain;
		background-repeat: no-repeat;
		padding: 0;
	}
	.play__circle{
		max-width: 94px;
		max-height: 92px;
	}
	.about__down-content{
		flex-wrap: wrap;
		position: absolute;
		bottom: 0;
		right: 0;
	}
	.about__down-content{
		max-width: 360px;
		row-gap: 30px;
		margin: 0;
	}
	.about__foot-item{
		width: 172px;
		max-width: 172px;
	}
	.services__desc{
		font-size: 18px;
		line-height: 22px;
		max-width: 471px;
	}
	.services__slider{
		margin-top: 95px;
	}
	.services__card{
		width: 355px;
		height: 405px;
		padding: 20px 80px 0 23px;
	}
	.services__slide{
		width: 355px;
		height: 405px;
	}
	.why__inner{
		padding: 100px 0;
	}
	.stages__left-block{
		width: 270px;
	}
	.stages__num{
		margin-right: 15px;
	}
	.stages__text{
		font-size: 20px;
	}
	.stages__desc{
		font-size: 18px;
		line-height: 22px;
	}
	.slide, .slider-list, .slider{
		width: 521px;
		height: 352px;
	}
	.slider{
		margin: 0 30px;
	}
	.examples__text{
		margin-top: 55px;
	}
	.beginning__left-side{
		padding-right: 22px;
	}
	.reviews__inner{
		padding: 100px 0;
	}
	.reviews__left-box{
		max-width: 521px;
	}
	.reviews__arrows{
		margin-top: -40px;
		text-align: right;
	}
	.reviews__right-box, .reviews__slider, .reviews__slider-list{
		width: 100%;
	}
	.useful__inner{
		padding: 100px 0;
	}
	.useful__text{
		display: none;
	}
	.useful__link{
		padding: 0 20px 0 0;
	}
	.useful__pic, .useful__link{
		max-width: 354px;
		max-height: 187px;
	}
	.footer__inner{
		padding: 50px 0 40px 0;
	}
	.footer__logo{
		max-width: 150px;
		max-height: 142px;
	}
	.col-1, .col-2, .col-3{
		max-width: 176px;
	}
	.policy{
		margin: -1px;
	}
	.policy__inner{
		padding: 24px 0;
	}
	.text-two{
		max-width: 167px;
	}
	.text-three{
		max-width: 167px;
	}
}
@media (max-width: 480px) {
	.header__contacts-second, .header__nav, .slider_prev-btn, .slider_next-btn{
		display: none
	}
	.history__inner{
		flex-wrap: wrap;
	}
	.header__hat{
		margin-bottom: 12px;
	}
	.header__logo{
		max-width: 105px;
		max-height: 111px;
		margin: 11px 0 0 0;
	}
	.header__excort>a{
		font-size: 12px;
		line-height: 14px;
	}
	.header__mail{
		font-size: 16px;
		margin-top: 19px;
	}
	.header__phone{
		font-size: 16px;
		line-height: 22px;
		margin-top: 5px;
	}
	.header__schedule{
		font-size: 12px;
		line-height: 14px;
	}
	.header__burger{
		margin-top: 23px;
		display: block;
		width: 50px;
		height: 35px;
		background-image: url('../img/burger.svg');
		background-repeat: no-repeat;
		background-position: center 25%;
		background-size: 129%;
		border: 0;
	}
	.history__inner{
		padding: 50px 0 40px 0;
	}
	.history__title{
		font-size: 36px;
		line-height: 45px;
	}
	.history__desc{
		font-size: 18px;
		line-height: 22px;
	}
	.history__btn{
		margin: 25px 0;
	}
	.history__img{
		max-width: 303px;
		max-height: 301px;
	}
	.about__inner{
		margin: 60px 0 60px 0;
	}
	.about__img{
		max-width: 122px;
		max-height: 152px;
	}
	.about__name{
		font-size: 20px;
		line-height: 20px;
	}
	.about__text{
		font-size: 16px;
		line-height: 20px;
	}
	.about__title{
		font-size: 26px;
		line-height: 35px;
		position: absolute;
		top: 0;
		right: 5px;
		max-width: 257px;
		margin-left: 160px;
	}
	.about__up-content{
		position: relative;
		row-gap: 20px;
	}
	.about__text{
		font-size: 18px;
		line-height: 22px;
	}
	.about__down-content{
		position: static;
		margin-top: 82px;
	}
	.about__foot-title{
		font-size: 26px;
	}
	.services__inner{
		margin-top: 60px;
	}
	.services__head{
		flex-wrap: wrap;
		row-gap: 20px;
	}
	.services__title{
		font-size: 26px;
		line-height: 35px;
	}
	.services__slider{
		margin-top: 58px;
	}
	.why__inner{
		padding: 60px 0;
	}
	.why__title{
		font-size: 26px;
		line-height: 40px;
	}
	.why__desc{
		margin-top: 20px;
		font-size: 18px;
		line-height: 22px;
	}
	.stages__inner{
		padding: 60px 0;
	}
	.stages__item{
		flex-wrap: wrap;
		row-gap: 20px;
	}
	.stages__title{
		font-size: 26px;
		line-height: 35px;
	}
	.stages__items{
		margin-top: 26px;
	}
	.examples__inner{
		padding-top: 60px;
	}
	.examples__title{
		font-size: 26px;
		line-height: 40px;
	}
	.examples__slider{
		margin-bottom: 0;
	}
	.slider{
		margin: 0;
	}
	.slide, .slider, .slider-list{
		max-width: 370px;
		max-height: 250px;
	}
	.examples__text{
		margin: 45px auto 20px auto;
	}
	.beginning{
		background-size: auto;
	}
	.beginning__inner{
		padding: 60px 0;
	}
	.beginning__box{
		flex-wrap: wrap;
	}
	.beginning__left-side, .beginning__right-side{
		width: 100%;
	}
	.beginning__title{
		margin: 33px 0 15px 0;
		font-size: 26px;
		line-height: 35px;
	}
	.beginning__text{
		margin-bottom: 21px;
		font-size: 18px;
		line-height: 22px;
	}
	.beginning_btn{
		padding: 10px 30px;
		margin-bottom: 50px;
		font-size: 18px;
		line-height: 25px;
	}
	.beginning__right-side>img{
		width: 100%;
	}
	.reviews__inner{
		padding: 60px 0;
	}
	.reviews__title{
		font-size: 26px;
		line-height: 35px;
	}
	.reviews__desc{
		font-size: 18px;
		line-height: 22px;
	}
	.reviews__arrows{
		display: none;
	}
	.reviews>.container{
		max-width: 480px;
	}
	.reviews__left-box{
		max-width: 100%;
	}
	.reviews__right-box{
		margin-top: 38px;
	}
	.useful__inner{
		padding: 60px 0;
	}
	.useful__title{
		font-size: 26px;
		line-height: 35px;
	}
	.useful__head{
		margin-bottom: 44px;
	}
	.useful__cards, .useful__card{
		justify-content: flex-start;
	}
	.useful__pic, .useful__link{
		max-width: 309px;
		max-height: 163px;
	}
	.useful__card{
		width: 309px;
		height: 280px;
	}
	.useful__slider, .useful__list{
		height: fit-content;
	}
	.useful__desc{
		font-size: 18px;
		line-height: 25px;
		margin-top: 30px;
	}
	.footer__inner{
		padding: 20px 0 54px 0;
		flex-wrap: wrap;
	}
	.footer__logo{
		min-width: 100%;
		height: 84px;
		flex-shrink: 0;
		margin-bottom: 17px;
	}
	.footer__logo>img{
		width: 89px;
		height: 84px;
	}
	.footer__title{
		font-size: 18px;
		line-height: 25px;
	}
	.footer__link{
		font-size: 14px;
		line-height: 17px;
	}
	.footer__column{
		max-width: 198px;
	}
	.policy{
		height: 108px;
	}
	.policy__inner{
		position: relative;
	}
	.policy__text{
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.025em;
	}
	.policy__left-side{
		flex-shrink: 0;
	}
	.text-two, .text-three{
		padding: 0;
	}
	.text-three{
		position: absolute;
		left: 0;
		bottom: 0px;
	}
	.overlay .video{width:100%;height:50%;position:relative}
	.overlay .close{color:#fff;font-size:55px;position:absolute;top:-65px;right:20px;cursor:pointer}	
}
@media (max-width: 360px) {
	.header__hat{
		margin-bottom: 32px;
	}
	.header__logo{
		width: 86px;
		height: 91px;
	}
	.header__excort>a{
		font-size: 10px;
		line-height: 12px;
	}
	.header__mail{
		font-size: 14px;
		margin-top: 10px;
	}
	.header__phone{
		font-size: 14px;
		line-height: 19px;
	}
	.header__schedule{
		margin-top: 8px;
	}
	.header__burger{
		width: 37px;
		height: 26px;
		margin-top: 20px;
	}
	.history__title{
		font-size: 30px;
		line-height: 35px;
	}
	.history__desc{
		font-size: 16px;
		line-height: 19px;
	}
	.history__btn{
		font-size: 16px;
		line-height: 22px;
		padding: 15px 43px;
	}
	.about__inner{
		margin: 57px 0 75px 0;
	}
	.about__up-content{
		row-gap: 22px;
	}
	.about__title{
		font-size: 24px;
		line-height: 30px;
	}
	.about__text{
		font-size: 16px;
		line-height: 19px;
	}
	.about__right{
		max-width: 100%;
		max-height: 165px;
	}
	.about__video{
		max-width: 100%;
		max-height: 165px;
		background-size: 100% 100%;
	}
	.play__circle{
		max-width: 70px;
		max-height: 67px;
	}
	.about__down-content{
		margin-top: 50px;
		row-gap: 25px;
		column-gap: 20px;
	}
	.about__foot-item{
		width: 150px;
	}
	.about__foot-title{
		font-size: 24px;
	}
	.about__foot-desc{
		font-size: 16px;
	}
	.services__inner{
		margin: 60px 0;
	}
	.services__head{
		row-gap: 22px;
	}
	.services__title{
		font-size: 24px;
		line-height: 33px;
	}
	.services__desc{
		font-size: 16px;
		line-height: 19px;
	}
	.services__slider{
		margin-top: 35px;
	}
	.services__slide{
		width: 320px;
		height: 399px;
		justify-content: flex-start;
	}
	.services__card{
		width: 320px;
		height: 399px;
	}
	.cards__title{
		font-size: 20px;
		line-height: 40px;
	}
	.cards__desc{
		font-size: 14px;
		line-height: 17px;
	}
	.cards__price{
		font-size: 16px;
		line-height: 19px;
	}
	.cards__btn{
		font-size: 14px;
		line-height: 19px;
	}
	.services__arrows{
		margin-top: 30px;
	}
	.why__title{
		font-size: 24px;
	}
	.why__desc{
		font-size: 16px;
		line-height: 19px;
	}
	.stages__item{
		row-gap: 16px;
		padding-top: 20px;
	}
	.stages__item:first-child{
		padding-top: 0;
	}
	.stages__title{
		font-size: 24px;
		line-height: 35px;
	}
	.stages__text{
		font-size: 18px;
		line-height: 30px;
	}
	.stages__desc{
		font-size: 16px;
		line-height: 19px;
	}
	.examples__inner{
		padding: 60px 0;
	}
	.examples__title{
		font-size: 24px;
	}
	.examples__slider{
		margin-top: 50px;
	}
	.slide, .slider-list, .slider{
		max-width: 320px;
		max-height: 216px;
	}
	.examples__text{
		margin-top: 35px;
		margin-bottom: 24px;
		font-size: 18px;
		line-height: 22px;
	}
	.examples__btn{
		font-size: 16px;
		line-height: 22px;
	}
	.beginning__title{
		font-size: 24px;
		line-height: 33px;
	}
	.beginning__text{
		font-size: 16px;
		line-height: 19px;
	}
	.beginning_btn{
		font-size: 16px;
		line-height: 22px;
	}
	.beginning__right-side{
		max-height: 167px;
	}
	.reviews>.container{
		max-width: 320px;
	}
	.reviews__title{
		font-size: 24px;
		line-height: 33px;
	}
	.reviews__desc{
		font-size: 16px;
		line-height: 19px;
	}
	.useful__inner{
		padding: 60px 0 75px 0;
	}
	.useful__head{
		margin-bottom: 46px;
	}
	.useful__title{
		font-size: 24px;
		line-height: 33px;
	}
	.useful__pic, .useful__link{
		max-width: 280px;
    	max-height: 147px;
	}
	.useful__link{
		padding: 0;
	}
	.useful__card{
		width: 280px;
		height: 265px;
	}
	.footer__inner{
		padding-bottom: 51px;
	}
	.col-1{
		max-width: 122px;
	}
	.col-2{
		max-width: 150px;
	}
	.col-3{
		max-width: 176px;
	}
	.policy{
		height: 118px;
	}
	.policy>.container{
		height: 60px;
	}
	.policy__inner{
		padding: 20px 0;
		height: 100%;
	}
	.text-one, .text-two{
		max-width: 150px;
	}
	.text-three{
		max-width: 150px;
	}
}